/.idea/
/.settings/
.classpath
.project
*.iml
/bin/
/content/
/lib/
/target/
/javaee/crmTest.war/
/javaee/crmTest.war.*
/javaee/crmTest-ds.xml.*
.metadata
/src/main/webapp/WEB-INF/primefaces-ecuador.taglib
/src/main/webapp/WEB-INF/lib/ecuador-theme-*
/src/main/webapp/WEB-INF/resources/primefaces-ecuador-*
/src/main/webapp/WEB-INF/resources/ecuador-layout
/src/main/webapp/WEB-INF/primefaces-ultima.taglib
/src/main/webapp/WEB-INF/lib/ultima-theme-*
/src/main/webapp/WEB-INF/resources/primefaces-ultima-*
/src/main/webapp/WEB-INF/resources/ultima-layout