@charset "ISO-8859-1";

.container {
	overflow: hidden;
	border-left: 4px solid #007ad9;	
}
.container:hover {
	border-left: 4px solid #007ad9;
	background-color: rgba(0, 122, 217, 0.2);
	cursor: pointer;
}

.infoTemp {
  	float: left;
  	text-align: left;
  	width: 70%;
  	margin-left: 10px;
  	line-height: 30px;
}

.dateAuth {
  	float: left;
  	line-height: 30px;
  	text-align: end;
}
.iconTemp {
 	float: left;
  	margin-top: 20px;
  	text-align: center;
  	width: 10%;
  	font-size: 25px;
}

.titleTemp {
  	font-weight: bold;
}

.descriptionTemp {
  	font-style: italic;
  	color: grey;
}

.dateTemp {
  	color: grey;
}

.authorTemp {
  	color: grey;
}


/* Flowbar css */

.flowbar-wrapper {
  	width: 100%;
  	padding-top: 10px;
  	padding-bottom: 5px;
}

.flowbar li {
  	list-style-type: none;
  	width: 14%;
  	float: left;
  	font-size: 12px;
  	position: relative;
  	text-align: center;
}

.flowbar li:before {
	width: 50px;
  	height: 50px;
  	content: "";
  	line-height: 50px;
  	border: 2px solid #7d7d7d;
  	display: block;
  	text-align: center;
  	margin: 0 auto 3px auto;
  	border-radius: 50%;
  	position: relative;
  	z-index: 2;
  	background: #fff;
  	background-size: 60%;
  	cursor: pointer;
}

.flowbar li:after {
    width: 100%;
    height: 5px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 24px;
    left: -50%;
    z-index: 0;
}
.flowbar li:first-child:after {
    content: none;
}

.flowbar li.current {
    color: #007ad9;
    font-weight: bold;  
}
.flowbar li.current:before {
    border-color: #007ad9;
    background: #007ad9;
    background-size: 60%;
    font-family: "FontAwesome";
    content: "\f078";
	color: white;
	font-size: 20px;    
}
.flowbar li.notCurrent:before {
    font-family: "FontAwesome";
    content: "\f067";
	color: #7d7d7d;
	font-size: 20px;    
}

.flowbar li.current + li:after {
    background-color: #007ad9;
}

.flowbar li:hover{
	color: red;
}


/* Suggested Actions css */

.updateContainer {
	overflow: hidden;
	border-left: 4px solid #007ad9;	
}

.updateIcon {
 	float: left;
  	margin-top: 20px;
  	text-align: center;
  	width: 10%;
  	font-size: 25px;
}

.updateInfo {
  	float: left;
  	text-align: left;
  	width: 70%;
  	margin-left: 10px;
  	line-height: 30px;
}

.updateTitle {
  	font-weight: bold;
}

.updateDescription {
  	font-style: italic;
  	color: grey;
}
